.forecast-card {
  text-align: center;
  .img {
    width: 50px;
    height: 55px;
  }
  .temp {
    margin: 10px 0;
  }
  @media (max-width: 700px) {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      margin-right: 20px;
    }
  }
  @media (max-width: 368px) {
    div {
      margin-right: 10px;
    }
  }
}
